/* Error: $n: Invalid index 5 for a list with 4 elements.
 *   ,
 * 6 |     color: nth($colores, 5);
 *   |            ^^^^^^^^^^^^^^^^
 *   '
 *   sass/components/_footer.scss 6:12  @import
 *   sass/style.scss 2:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $n: Invalid index 5 for a list with 4 elements.\a   \2577 \a 6 \2502      color: nth($colores, 5);\a   \2502             ^^^^^^^^^^^^^^^^\a   \2575 \a   sass/components/_footer.scss 6:12  @import\a   sass/style.scss 2:9                root stylesheet";
}
