.navbar-brand {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/* FOOTER */
form {
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 110%;
  width: 30%;
  display: inline;
  justify-content: space-evenly;
  align-items: left;
}

form input {
  font-size: 90%;
  color: rgb(67, 143, 118);
}

footer {
  margin-top: 30px;
  padding: 50px;
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
}

#backtop {
  border: 4px double rgba(127, 255, 212, 0.598);
  padding: 4px;
}

/*vuelta al Top de pagina*/
.pieip {
  position: bottom;
}

/*titulo de descripciones de foto/video*/
h1 {
  position: relative;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  font-size: 285%;
  color: whitesmoke;
  text-align: center;
  margin: 2cm;
}

/*parrafos*/
p {
  position: relative;
  color: whitesmoke;
  font-family: "Exo", sans-serif;
  font-size: 170%;
  letter-spacing: 1px;
  text-align: center;
}

/* mapa hostel en iphone */
@media only screen and (max-width: 500px) {
  #mapahostel {
    width: 100%;
  }
  p {
    font-size: 90%;
  }
  h3 {
    margin: 0px 0px 0px 8px;
  }
  #inicio {
    width: auto;
  }
  /* contactos */
  .flex-items a img {
    width: 80%;
    padding-top: 50px;
  }
  .hoyplaylist {
    top: 10px;
  }
  .cr-me {
    width: 100%;
  }
}
.container {
  padding-top: 50px;
}

/*video principal*/
.vidinicio {
  width: 100%;
  height: 100%;
}

/*playlist de surf para el video*/
.surfplaylist {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* foto maldivas tubo */
#tubomaldivas {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: right;
}

/*foto maldivas ukulele*/
/* #mldvs1 {
    display: block;
    position: relative;
    top: -150px; left: 67%;
    width: 20%;
} */
/* Carousel */
.cr-me {
  width: 50%;
}

/* HOY */
.hoyplaylist {
  z-index: 1;
  width: 20%;
  top: 12%;
  position: sticky;
}

/* VIAJES */
/* lista de viajes */
table.tabla {
  width: 100%;
  background-color: rgb(67, 143, 118);
  border-collapse: collapse;
  border-width: 2px;
  border-color: aquamarine;
  border-style: solid;
  color: whitesmoke;
}

th {
  font-family: Verdana;
  font-weight: bold;
  color: #38061f;
}

td {
  font-family: Verdana;
  color: whitesmoke;
}

table.tabla td, table.tabla th {
  border-width: 2px;
  border-color: aquamarine;
  border-style: solid;
  padding: 5px;
}

table.tabla thead {
  background-color: aquamarine;
}

/* CONTACTO */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.flex-items:hover {
  transform: scale(2);
  transition: all 1.5s ease;
}

.flex-items a img {
  width: 90%;
  padding-top: 50px;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(5) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/*# sourceMappingURL=style.css.map */
