@import '../base/lists';
@import '../base/extends';

.container {
    padding-top: 50px;
}

/*video principal*/
.vidinicio {
    width: 100%; height: 100%;
}


/*playlist de surf para el video*/
.surfplaylist {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* foto maldivas tubo */
#tubomaldivas {
    width: 70%; height: auto;
    display: flex;
    justify-content: right;
}
/*foto maldivas ukulele*/
/* #mldvs1 {
    display: block;
    position: relative;
    top: -150px; left: 67%;
    width: 20%;
} */

/* Carousel */
.cr-me {
    width: 50%;
}

/* HOY */
.hoyplaylist {
    z-index: 1;
    width: 20%;
    top: 12%;
    position: sticky;
}

/* VIAJES */
/* lista de viajes */
table.tabla {
    width: 100%;
    background-color: nth($colores, 2);
    border-collapse: collapse;
    @extend %table;    
    color: nth($colores, 3);
}

th {
    font-family: Verdana; font-weight: bold; color: nth($colores, 4);
}

td {
    font-family: Verdana; color: nth($colores, 3);
}
table.tabla td, table.tabla th {
  @extend %table;    
  padding: 5px;
}

table.tabla thead {
    background-color: nth($colores, 1);
}


/* CONTACTO */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
  }
.flex-items:hover {
    transform: scale(2);
    transition: all 1.5s ease;
}

  .flex-items a img {
    width: 90%;
    padding-top: 50px;
  }
  .flex-items:nth-child(1) {
    @extend %flexbxcontactoimg;
  }
  
  .flex-items:nth-child(2) {
    @extend %flexbxcontactoimg;
  }
  
  .flex-items:nth-child(3) {
    @extend %flexbxcontactoimg;
  }
  
  .flex-items:nth-child(4) {
    @extend %flexbxcontactoimg;
  }
  
  .flex-items:nth-child(5) {
    @extend %flexbxcontactoimg;
  }
