@import '../base/lists';

/*titulo de descripciones de foto/video*/
h1 {
    position: relative;
    font-family: 'Exo', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    font-size: 285%;
    color: nth($colores, 3);
    text-align: center;
    margin: 2cm;
}

/*parrafos*/
p {
    position: relative;
    color: nth($colores, 3);
    font-family: 'Exo', sans-serif;
    font-size: 170%;
    letter-spacing: 1px;
    text-align: center;
}

/* mapa hostel en iphone */
@media only screen and (max-width: 500px) {
    #mapahostel {
        width: 100%;
    }
    p {
        font-size: 90%;
    }
    h3 {
        margin: 0px 0px 0px 8px;
    }
    #inicio {
        width: auto;
    }
    /* contactos */
    .flex-items a img {
        width: 80%;
        padding-top: 50px;
      }
    .hoyplaylist {
        top: 10px;
    }
    .cr-me {
        width: 100%;
    }
}